{{>partials/header}}


    <form method="POST" action="/newuser">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="age">Age:</label><br>
        <input type="text" id="age" name="age"><br><br>
        <input type="submit" value="Submit">
      </form>

      {{#users}}
      <ul>
        <li>{{name}} {{age}}</li>
      </ul>
      {{/users}}


{{>partials/footer}}